.flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 10px;
}

.h1 {
  color: #3a3a3a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p {
  color: #3a3a3a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:host {
  display: block;
  background-color: whitesmoke;
  padding: 20px;
}