<div class="container" style="background-color: white">
  <form [formGroup]="form" (ngSubmit)="update()">
    <div class="form-group-container">
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          id="filter-email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label>Type of user</label>
        <select class="form-control" formControlName="userType">
          <option value="-1" disabled selected>Select type of user</option>
          <option *ngFor="let item of dataUserType" [ngValue]="item">
            {{ item | userType }}
          </option>
        </select>
      </div>

      <div class="form-group" *ngIf="form.value.userType == 1">
        <label>Organization</label>
        <input
          type="text"
          class="form-control"
          placeholder="Organization"
          formControlName="organization"
        />
      </div>

      <div class="form-group">
        <label>Country</label>
        <select class="form-control" formControlName="country">
          <option value="" disabled selected>Select Country</option>
          <option *ngFor="let country of countries" [value]="country.Code">
            {{ country.Name }}
          </option>
        </select>
      </div>

      <button class="btn" type="submit" [disabled]="!form.valid">Update</button>
    </div>
    <button class="btn" style="margin-top: 10px" (click)="deleteUser()">
      Delete
    </button>
  </form>
</div>
