<img src="../../assets/images/logo-sma.png" />
<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #990000"
>
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navBarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">{{
            "Navbar.Home" | translate
          }}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/observatories"
            >{{ "Navbar.Observatories" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/meteors"
            >{{ "Navbar.Meteors" | translate }}</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "Navbar.Language" | translate }}
          </a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" (click)="useLanguage('en')">English</a>
            <a class="dropdown-item" (click)="useLanguage('es')">Español</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
