<ng-container *ngIf="vm$ | async as vm">
  <div class="container">
    <div class="flex-container-cabecera">
      <button class="btn" (click)="showFilters(vm.mostrarFiltros)">
        {{ "TableUtil.ShowFilters" | translate }}
      </button>

      <button
        *ngIf="vm.mostrarFiltros"
        class="btn"
        type="submit"
        (click)="applyFilters()"
      >
        {{ "TableUtil.ApplyFilters" | translate }}
      </button>

      <h5 style="margin-top: 5px; margin-right: auto">
        {{ "Observatories.Table.Title" | translate }}
      </h5>
    </div>
  </div>
  <div class="container" *ngIf="vm.mostrarFiltros">
    <div class="flex-container-filtros">
      <form [formGroup]="observatoriesForm" (ngSubmit)="applyFilters()">
        <div class="row">
          <div class="col">
            <label for="nombre">{{
              "Observatories.Table.Filters.ObservatoryName" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="filtro-nombre"
              placeholder="{{ 'GenericWords.Name' | translate }}"
              formControlName="nombre"
            />
          </div>
          <div class="col">
            <label for="filtro-altura">{{
              "GenericWords.Height" | translate
            }}</label>
            <input
              type="number"
              min="0"
              class="form-control"
              id="filtro-altura"
              placeholder="{{ 'GenericWords.Minimum' | translate }}"
              formControlName="alturaMinima"
            />
            <input
              type="number"
              min="0"
              class="form-control"
              id="filtro-altura"
              placeholder="{{ 'GenericWords.Maximum' | translate }}"
              formControlName="alturaMaxima"
            />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container my-3">
    <table
      class="table my-3 table-bordered"
      *ngIf="
        vm.observatories?.observatories &&
        vm.observatories?.observatories?.length
      "
    >
      <thead>
        <tr>
          <th scope="col">
            {{ "GenericWords.Number" | translate }}
          </th>
          <th scope="col">{{ "GenericWords.Name" | translate }}</th>
          <th scope="col">{{ "GenericWords.Longitude" | translate }}</th>
          <th scope="col">{{ "GenericWords.Latitude" | translate }}</th>
          <th scope="col">{{ "GenericWords.Height" | translate }}</th>
          <th scope="col">{{ "GenericWords.Credits" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let observatorio of vm.observatories?.observatories">
          <td>{{ observatorio.numero }}</td>
          <td style="text-align: left">{{ observatorio.nombre }}</td>
          <td>{{ observatorio.longitud }}</td>
          <td>{{ observatorio.latitud }}</td>
          <td>{{ observatorio.altura }}</td>
          <td style="text-align: left">{{ observatorio.creditos }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!vm.observatories || !vm.observatories?.observatories?.length">
      {{ "Observatories.Table.Error" | translate }}
    </p>
  </div>
</ng-container>
