<ng-container *ngIf="vm$ | async as vm">
  <div class="container">
    <div class="flex-container-cabecera">
      <button class="btn" (click)="mostrarFiltros(vm.mostrarFiltros)">
        Mostrar Filtros
      </button>

      <button
        *ngIf="vm.mostrarFiltros"
        class="btn"
        type="submit"
        (click)="aplicarFiltros()"
      >
        Aplicar Filtros
      </button>

      <h5 style="margin-top: 5px; margin-right: auto">
        Listado de observatorios activos
      </h5>
    </div>
  </div>
  <div class="container" *ngIf="vm.mostrarFiltros">
    <div class="flex-container-filtros">
      <form [formGroup]="observatorioForm" (ngSubmit)="aplicarFiltros()">
        <div class="row">
          <div class="col">
            <label for="filtro-nombre">Nombre Observatorio</label>
            <input
              type="text"
              class="form-control"
              id="filtro-nombre"
              placeholder="Nombre"
              formControlName="nombre"
            />
          </div>
          <div class="col">
            <label for="filtro-altura">Altura</label>
            <input
              type="number"
              min="0"
              class="form-control"
              id="filtro-altura"
              placeholder="Mínima"
              formControlName="alturaMinima"
            />
            <input
              type="number"
              min="0"
              class="form-control"
              id="filtro-altura"
              placeholder="Máxima"
              formControlName="alturaMaxima"
            />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container my-3">
    <table
      class="table my-3 table-bordered"
      *ngIf="
        vm.observatorios?.observatorios &&
        vm.observatorios?.observatorios?.length
      "
    >
      <thead>
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Nombre</th>
          <th scope="col">Longitud</th>
          <th scope="col">Latitud</th>
          <th scope="col">Altura</th>
          <th scope="col">Créditos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let observatorio of vm.observatorios?.observatorios">
          <td>{{ observatorio.numero }}</td>
          <td style="text-align: left">{{ observatorio.nombre }}</td>
          <td>{{ observatorio.longitud }}</td>
          <td>{{ observatorio.latitud }}</td>
          <td>{{ observatorio.altura }}</td>
          <td style="text-align: left">{{ observatorio.creditos }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!vm.observatorios || !vm.observatorios?.observatorios?.length">
      No se han encontrado observatorios
    </p>
  </div>
</ng-container>
