.container{
    width: 25%;
    margin-top: 10em;
 }

.form-group-container{
    display:grid;
    grid-auto-flow:row;
    row-gap: 1em;
}

img {
    width: 20%;
    margin: 1em 0em 2em 0em;
}

.btn{
  background-color: var(--oficial-color);
  color: whitesmoke
}