<div class="container" style="background-color: white">
  <form [formGroup]="form" (ngSubmit)="register()">
    <img src="../../assets/images/logo-loggin.png" />
    <div class="form-group-container">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="filter-email"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="filter-password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="filter-password"
          placeholder="Repeat Password"
          formControlName="repeatPassword"
        />
      </div>
      <button class="btn" type="submit" [disabled]="!form.valid">
        Register
      </button>
    </div>
  </form>
</div>
