/* You can add global styles to this file, and also import other style files */
@charset "ISO-8859-1";
html { background-color: whitesmoke; }
:root {
    --oficial-color: #990000;
}

.td {
    background-color: var(--oficial-color);
    color: var(--oficial-color);
}

.flex-container-cabecera {
    display: flex;
    width: 100%;
    margin: 10px;
    flex-direction: row-reverse;
}

.flex-container-filtros {
    display: flex;
    width: 100%;
    margin: 10px;
}

/*Mat calendar utilities*/
.mat-calendar-header {
    background: var(--oficial-color);
}
.mat-mdc-button.mat-unthemed {
    --mdc-text-button-label-text-color: #fff;
}
.mat-calendar-arrow{
    fill: white !important
}
.mat-calendar-next-button,
.mat-calendar-previous-button
{
    color: white !important;
}
.mat-datepicker-toggle
{
    color: var(--oficial-color) !important;  
}
.mdc-text-field--filled.mdc-text-field--disabled .mdc-floating-label, .mdc-text-field--filled.mdc-text-field--disabled .mdc-floating-label--float-above {
    color: black !important;
}
.mat-calendar-body-selected {
    background-color: var(--oficial-color) !important;
}